<div class="rd-navbar-project-modern-header">
    {%if user.is_authenticated %}
    <h4 class="rd-navbar-project-modern-title">{{user}}</h4>
    {% endif%}
    <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
         data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate>
        <div class="project-close"><span></span><span></span></div>
    </div>
</div>
<!--Settings content-->
<div class="rd-navbar-project-content rd-navbar-modern-project-content">
    <div>
        <div class="row row-10 gutters-10">
            <div class="col-12"><img class="rounded-circle"
                                     src="{{ user.market_user.all.first.avatar.url }} "
                                     alt=""
                                     width="394"
                                     height="255"/>
            </div>
        </div>
        <div class="heading-6 subtitle">Contacts</div>

        <ul class="rd-navbar-modern-contacts">
            <li>
                <div class="unit unit-spacing-sm">
                    <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                    <div class="unit-body">
                        <a class="link-phone"
                           href="tel:#">{{user.market_user.all.first.phone_number }}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="unit unit-spacing-sm">
                    <div class="unit-left"><span
                            class="icon fa fa-location-arrow"></span>
                    </div>
                    <div class="unit-body"><a class="link-location" href="#">{{user.address}}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="unit unit-spacing-sm">
                    <div class="unit-left"><span class="icon fa fa-envelope"></span>
                    </div>
                    <div class="unit-body"><a class="link-email" href="mailto:#">{{user.email}}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="unit unit-spacing-sm">
                    <div class="unit-left"><span class="icon mdi mdi-account-remove"></span>
                    </div>
                    <div class="unit-body"><a class="link-email" href="mailto:#">Edit profile</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="unit unit-spacing-sm">
                    <div class="unit-center"><span class="icon mdi mdi-logout"></span>
                    </div>
                    <div class="unit-body"><a class="link-email"
                                              href="{% url 'logout_of_market'%}">Exit</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="list-inline rd-navbar-modern-list-social">
            <li><a class="icon fa fa-facebook" href="#"></a></li>
            <li><a class="icon fa fa-twitter" href="#"></a></li>
            <li><a class="icon fa fa-google-plus" href="#"></a></li>
            <li><a class="icon fa fa-instagram" href="#"></a></li>
            <li><a class="icon fa fa-pinterest" href="#"></a></li>
        </ul>
    </div>
</div>